body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    overflow: hidden;
    background-color: #808000;
    width: 100%;
    margin: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}


.navbar a:hover {
    background: #3c4b21;
    color: #f2f2f2;
}

/* Основной контент */
.main {
    margin-top: 30px;
    flex: 1; 
}

section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

ol {
    list-style-type: none;
    padding: 0;
}

ol li {
    margin-bottom: 10px;
}

ol li b {
    color: #000000;
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #808000;
    color: #fff;
    margin: 10px;
}



.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 24px;
    color: #fff;
    background: #808000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.back-to-top:hover {
    background: #3c4b21;
    text-decoration: none;
}
